<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
 {% load static%}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body style="background-color:#f5f5f";>

<div class="jumbotron  header1">
  <h1>Bootstap Tutorial</h1>
  <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
</div>
<div class="row">
  <div class="col-sm-3">
      <div class="list-group">
  <a href="{% url 'second' %}" class="list-group-item">History Of Bootstrap</a>
  <a href="#" class="list-group-item">Get Started</a>
  <a href="#" class="list-group-item">Basic grid System</a>
          <a href="#" class="list-group-item">Table</a>
  <a href="#" class="list-group-item">Alerts</a>
  <a href="#" class="list-group-item">Well</a>
           <a href="#" class="list-group-item">Jambodton</a>
  <a href="#" class="list-group-item">Image</a>
           <a href="#" class="list-group-item">button</a>
  <a href="#" class="list-group-item">Button Group</a>
           <a href="#" class="list-group-item">Glyphicon</a>
  <a href="#" class="list-group-item">label</a>
           <a href="#" class="list-group-item">Prograss bar</a>
  <a href="#" class="list-group-item">Paging</a>
           <a href="#" class="list-group-item">Alerts</a>
  <a href="#" class="list-group-item">Well</a>
           <a href="#" class="list-group-item">Alerts</a>
  <a href="#" class="list-group-item">Well</a>

</div>
  </div>
  <div class="col-sm-9"></div>
</div>
<!--<a href="{% url 'second' %}">Click here</a>-->
</body>
</html>
